body {
    background-color: #1f2227;
}

#main {
    display: flex;
    justify-content: center;
}

canvas {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#calculator {
    border-radius: 25px;
    background-color: black;
    padding: 20px;
}

#calculator #buttons {
    background-color: blue;
    border-radius: 5px;
    margin-top: 10px;
    height: 450px;
}

#functions {
    background-color: #30353d;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 5px;
    left: 5px;
}